coverage[toml] == 7.*
pytest == 9.*; python_version >= "3.10"
pytest == 8.*; python_version < "3.10"
pytest-cov == 7.*
pytest-xdist == 3.*
twine == 6.*
mypy == 1.*
black == 26.*; python_version >= "3.10"
black == 25.*; python_version < "3.10"
ruff == 0.15.*
types-pyyaml == 6.*
psutil >= 7.2.2
