coverage[toml] == 7.*
pytest == 9.*; python_version >= '3.10'
pytest == 8.*; python_version < '3.10'
pytest-cov == 7.*
pytest-xdist == 3.*
twine == 6.*
mypy == 1.*
black == 25.*
ruff == 0.14.*
types-pyyaml == 6.*
psutil >= 5.9.0
